/* Cores suaves para os status das reservas */
.status-ativa {
    background-color: #66bb6a; /* Verde suave para reservas ativas */
    color: #333; /* Cor de texto legível */
}

.status-concluida {
    background-color: #64b5f6; /* Azul suave para reservas concluídas */
    color: #333;

}

.status-cancelada {
    background-color: #ef5350; /* Vermelho suave para reservas canceladas */
    color: #333;
}

.status-pendente {
    background-color: #ffd54f; /* Amarelo suave para reservas pendentes */
    color: #333;
}
.card
/* Fonte legível */
.card-title,
.card-text {
    font-family: Arial, sans-serif; /* Fonte padrão para melhor legibilidade */
}


